* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.covidApp {
    display: flex;
}

.menu{
    width:350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #181A1B;
}
.selection-panel{
    background-color: rgba(0, 0, 0, 0.533);
    margin:auto;
    width:80%;
    padding:1rem;
}

.default {
    width: 100%;
    height:100%;
    flex-grow: 1;
    overflow-x: scroll;
}

.hideGrid {
    display: none;
}

.openGrid {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
}

.mapContainer {
    flex-basis: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
}

.covid-map {
    flex-shrink: 1;
    flex-basis: 90%;
}

.legend {
    flex-basis: 10%;
    flex-grow: 1;
    width: 100%;
}

/* remove pagination */
div.MuiDataGrid-footerContainer {
    /* display: none; */
}

a.leaflet-control-zoom-in,
a.leaflet-control-zoom-out {
    color:#E80417;
}